*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html
{
  scroll-snap-type: y mandatory;
}
header
{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
}
.logo
{
  padding: 1rem;
}
ul
{
  display: flex;
}
ul a
{
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding: 0.8rem;
  color: black;
  font-size: 1.1rem;
  line-height: 35px;
}
.sidebar a
{
  padding: 5px;
}
section
{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  scroll-snap-align: start;
}
.detail
{ 
  height: 470px;
  position: absolute;
  text-align: center;
  /* background-color: aqua; */
  margin-top: 40px;
}
.button a
{
  text-decoration: none;
}
#left
{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding : 0.8rem 5rem;
  border-radius : 3rem;
  margin : 0 2rem;
}
#right
{
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  padding : 0.8rem 5rem;
  border-radius : 3rem;
}
.desc
{
  margin-bottom: 380px;
}
.desc h1
{
  font-size: 40px;
}
#downarr
{
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.sidebar
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 100vh;
  background-color: white;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 6;
  padding-top: 40px;
  transition: all 0.5s ease;
}
.sidebar a
{
  margin-left: 30px;
}
.active
{
  right: 0;
}
#close
{
  position: absolute;
  top: 10px;
  right: 20px;
}

@media screen and (max-width : 1026px)
{
  ul a {
    padding: 0.8rem 0.6rem;
    font-size: 1rem;
    line-height: 35px;
  }
  .detail {
    margin-top: 88px;
  }
  .sidebar {
    width: 230px;
  }
}
@media screen and (max-width : 838px)
{
  ul a {
    font-size: 0.8rem;
    padding: 0.8rem 0.4rem;
  }
  .detail {
    margin-top: 120px;
  }
  .sidebar {
    width: 170px;
  }
}

@media screen and (max-width : 750px)
{
  .modal{
    display: none;
  }
  header {
    justify-content: space-between;
  }
  .menu {
    margin-right: 20px;
  }
}
@media screen and (max-width : 610px)
{
  #left {
    padding: 0.8rem 2rem;
  }
  #right {
    padding: 0.8rem 2rem;
  }
}
@media screen and (max-width : 418px)
{
  #left {
    font-size: 12px;
    padding: 0.8rem 2rem;
  }
  #right {
    font-size: 12px;
    padding: 0.8rem 2rem;
  }
}
@media screen and (max-width : 368px)
{
  #left {
    padding: 0.8rem 1.5rem;
    margin: 0 0.5rem;
  }
  #right {
    padding: 0.8rem 1.5rem;
  }
}
